---
import type { HeadingProps } from "./Heading.types"
const { 
  level = 2, 
  variant = 'blue',
  align = 'left'
} = Astro.props as HeadingProps

const classes = ['heading', `heading--${level}`, `heading--${variant}`, `heading--${align}`];
---

{level === 1 && <h1 class:list={classes}><slot /></h1>}
{level === 2 && <h2 class:list={classes}><slot /></h2>}
{level === 3 && <h3 class:list={classes}><slot /></h3>}
{level === 4 && <h4 class:list={classes}><slot /></h4>}
{level === 5 && <h5 class:list={classes}><slot /></h5>}
{level === 6 && <h6 class:list={classes}><slot /></h6>}

<style lang="scss">
@use "./Heading.styles.scss";
</style>