---
import Hero from '@components/Hero/Hero.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer/Footer.astro';
import Card from '../components/Card/Card.astro';
import '../styles/global.css'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseHead from '@components/BaseHead.astro';


// Exemple de données dynamiques pour les cartes
const cardData = [
  {
    title: "Titre de la Carte 1",
    description: "Voici une description pour la première carte.",
    image: "/path/to/image1.jpg",
  },
  {
    title: "Titre de la Carte 2",
    description: "Voici une description pour la deuxième carte.",
    image: "/path/to/image2.jpg",
  },
  {
    title: "Titre de la Carte 3",
    description: "Voici une description pour la troisième carte.",
    image: "/path/to/image3.jpg",
  },
];
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guide</title>
  </head>
  <body>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<Header />
	<Hero />
    <main class="main-content">
      <div class="cards-container">
        {cardData.map((card, index) => (
          <Card key={index} title={card.title} description={card.description} image={card.image} />
        ))}
      </div>
    </main>
	<Footer />
  </body>
</html>

<style>
  .main-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }

  .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
</style>
